<!DOCTYPE html>
<html>
  <head>
    <title>CatchTrends</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'sns', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'header_res', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
  </head>

  <body>
    <header>
        <%= render "partials/header-black" %>
    </header>

    <div class="top-text-container">
      <p class="top-text">一週間以内のいいね数トップ２０の投稿を表示しています</p>
    </div>

    <%= yield %>
  </body>
</html>
